#jj {
  color: #680303;
  background-color: #b22121;
  border: 5px solid;
  font-family: verdana;
}
#title {
  font-family: verane light;
}
.body {
   background: linear-gradient(-45deg, #680303, #b22121);
}
